<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style_1.css">
</head>
<body>
    <img src="../static/images/photo-1605792657660-596af9009e82.jpeg" alt="bitcoin">
    <div class="bit">
        <form method="post">
            <select name="rate">
                <option value="ABC">ABC</option>
                <option value="ACP">ACP</option>
                <option value="ACT">ACT</option>
                <option value="ACT*">ACT*</option>
                <option value="ADA">ADA</option>
                <option value="ADCN">ADCN</option>
                <option value="ADL">ADL</option>
                <option value="ADX">ADX</option>
                <option value="ADZ">ADZ</option>
                <option value="AE">AE</option>
                <option value="AGI">AGI</option>
                <option value="AIB">AIB</option>
                <option value="AIDOC">AIDOC</option>
                <option value="AION">AION</option>
                <option value="AIR">AIR</option>
                <option value="BAR">BAR</option>
                <option value="BASH">BASH</option>
                <option value="BAT">BAT</option>
                <option value="BAY">BAY</option>
                <option value="BBP">BBP</option>
                <option value="BCD">BCD</option>
                <option value="BCH">BCH</option>
                <option value="BCN">BCN</option>
                <option value="BCPT">BCPT</option>
                <option value="BEE">BEE</option>
                <option value="CALC">CALC</option>
                <option value="CAS">CAS</option>
                <option value="CAT">CAT</option>
                <option value="CCRB">CCRB</option>
                <option value="CDT">CDT</option>
                <option value="CESC">CESC</option>
                <option value="CHAT">CHAT</option>
                <option value="CJ">CJ</option>
                <option value="CL">CL</option>
                <option value="CLD">CLD</option>
                <option value="CLOAK">CLOAK</option>
                <option value="DAS">DAS</option>
                <option value="DASH">DASH</option>
                <option value="DAT">DAT</option>
                <option value="DATA">DATA</option>
                <option value="DBC">DBC</option>
                <option value="DBET">DBET</option>
                <option value="DCN">DCN</option>
                <option value="DCR">DCR</option>
                <option value="DCT">DCT</option>
                <option value="DEEP">DEEP</option>
                <option value="DENT">DENT</option>
                <option value="EC">EC</option>
                <option value="EDG">EDG</option>
                <option value="EDO">EDO</option>
                <option value="EDR">EDR</option>
                <option value="EKO">EKO</option>
                <option value="ELA">ELA</option>
                <option value="ELF">ELF</option>
                <option value="EMC">EMC</option>
                <option value="EMGO">EMGO</option>
                <option value="ENG">ENG</option>
                <option value="GAME">ADA</option>
                <option value="GAS">GAS</option>
                <option value="GBYTE">GBYTE</option>
                <option value="GMX">GMX</option>
                <option value="GNO">GNO</option>
                <option value="GNT">GNT</option>
                <option value="GNX">GNX</option>
                <option value="GRC">GRC</option>
                <option value="GRS">GRS</option>
                <option value="HAC">HAC</option>
                <option value="HNC">HNC</option>
                <option value="HSR">HSR</option>
                <option value="HST">HST</option>
                <option value="HVN">HVN</option>
                <option value="ICN">ICN</option>
                <option value="ICOS">ICOS</option>
                <option value="ICX">ICX</option>
                <option value="IGNIS">IGNIS</option>
                <option value="ILC">ILC</option>
                <option value="INK">INK</option>
                <option value="KCS">KCS</option>
                <option value="KICK">KICK</option>
                <option value="KIN">KIN</option>
                <option value="LA">LA</option>
                <option value="LEND">LEND</option>
                <option value="LEO">LEO</option>
                <option value="LINDA">LINDA</option>
                <option value="LINK">LINK</option>
                <option value="LOC">LOC</option>
                <option value="LOG">LOG</option>
                <option value="MAID">MAID</option>
                <option value="MANA">MANA</option>
                <option value="MCAP">MCAP</option>
                <option value="MCO">MCO</option>
                <option value="MDA">MDA</option>
                <option value="MDS">MDS</option>
                <option value="MIOTA">MIOTA</option>
                <option value="NAS">NAS</option>
                <option value="NAV">NAV</option>
                <option value="NBT">NBT</option>
                <option value="NDC">NDC</option>
                <option value="NEBL">NEBL</option>
                <option value="NEO">NEO</option>
                <option value="NEU">NEU</option>
                <option value="OAX">OAX</option>
                <option value="OBITS">OBITS</option>
            </select>
            <input type="submit" value="Get Value" class="get">
        </form>
        <h2 class="succ">Success:{{success}}</h2>
        <h2 class="tar">Target:{{target}}</h2>
        <h2 class="val">The Value of {{rate}} is {{result}}</h2>
    </div>
</body>
</html>